extends ../layout

include ../mixins/_storyCard

block content
  li: a(href=`/u/${author.username}/reees`) Salty Stories
  li: a(href=`/u/${author.username}/upvotes`) Upvotes
  li: a(href=`/u/${author.username}/comments`) Comments
  hr