extends ../layout

include ../mixins/_storyCard

block scripts
      script(src="/dist/counter.bundle.js")

block content

  if (!h.isSaturday)
    .counter-wrapper
      p#days-text
      p#left-text
      
  else
      each story in stories
        +storyCard(story)
