extends ../layout

include ../mixins/_storyCard

block content
  
  if (!h.isSaturday)
    block scripts
      script(src="/dist/counter.bundle.js")
    p Sorry, bitch
  else
      each story in stories
        +storyCard(story)
