mixin flash()
    if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .card(class=`flash--${category}`)
                  .card__body
                    p.flash__text!= message
                    i.fa.fa-window-close.flash__remove