mixin loginForm()
	form.form(action="/login" method="POST")
		.form__elem
			label(for="username") Username
			input(type="text" name="username" id="username" value=body ? body.username : "")
		.form__elem
			label(for="password") Password
			input(type="password" name="password" id="password")
		.form__login-footer
			a(href="/reset") Forgot your password?
			input(type="submit" value="Log in" class="button red-button")