mixin storyForm( story = {} )
  form(action=`/add/${story._id || ''}` method="POST")
    //- Title
    label(for="title") Title
    input(type="text" name="title" value=story.title)
    //- Story
    label(for="title") Story
    textarea(name="story")= story.story
    //- Button
    input(type="submit" value="Save")