// Colors - Light theme

$bg: #F4F4F4;
$light-grey: #CFCDD7;
$mid-grey: #A09DB0;
$mamba: #89818D;
$scarpa: #5B5A62;
$sisal: #D7CABD;

$purp: #5d2ce8;
$primary: #10b984;

$red: #F60A20;

$text: #363636
