.login-button {
    float: right;
}

.form__login-footer {
    height: 32px;
    margin-top: 10px;
    a {
        line-height: 32px;
    }
    .red-button {
        float: right;
    }
}

.auth-divider {
    text-align: center;
    margin: 10px 0;
}

.form-register {
    p {
        margin: 10px 0;
    }
}